<a href="https://colab.research.google.com/github/priscilacostabemm/univali/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Setup

In [5]:
!pip install unidecode

Collecting unidecode
  Downloading Unidecode-1.3.6-py3-none-any.whl (235 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 235.9/235.9 kB 5.9 MB/s eta 0:00:00
Installing collected packages: unidecode
Successfully installed unidecode-1.3.6

In [ ]:
!pip show unicode

In [6]:
import pandas as pd
from datetime import datetime
import itertools as it
import numpy as np
from unidecode import unidecode

#Dados

In [ ]:
df=pd.read_json('/content/drive/MyDrive/report_picpay.json')
df

         Campaign Name       App ID         Day  Impressions  Conversions
0    PicPay | Adgrowth  vrv/2177890  2023-04-22          647            1
1    PicPay | Adgrowth  vrv/2177890  2023-04-25          477            1
2    PicPay | Adgrowth  vrv/2177890  2023-04-18          971            1
3    PicPay | Adgrowth  vrv/2177890  2023-04-28          613            1
4    PicPay | Adgrowth  vrv/2159834  2023-04-17          582            1
..                 ...          ...         ...          ...          ...
230  PicPay | Adgrowth   ia/1295280  2023-03-10            1            1
231  PicPay | Adgrowth   ia/1215729  2023-03-14          212            1
232  PicPay | Adgrowth   ia/1139330  2023-03-18          725            1
233  PicPay | Adgrowth   ia/1139330  2023-03-14          306            1
234  PicPay | Adgrowth   ia/1032688  2023-03-13          172            1

[235 rows x 5 columns]

# Carregando dados do Google Colab

## Usando link

In [ ]:
# dataset = pd.read_csv('link do github')
# dataset

## Carregando diretamente de sua máquina

## Fazendo upload pelo Google Colab

![Captura de tela 2023-06-20 135618.png]()

Apos o drive estar montado, escolhe-se o ficheiro que está

# Operações entre conjuntos

Dados dois dicts distintos, verificar elementos que têm em apenas um deles:

In [ ]:
dict1 = {'chave1': 'valor1', 'chave2': 'valor2', 'chave3': 'valor3'}
dict2 = {'chave2': 'valor2', 'chave3': 'valor3', 'chave4': 'valor4'}

chaves_diferentes = set(dict1.keys()).symmetric_difference(set(dict2.keys()))

print(chaves_diferentes)

{'chave1', 'chave4'}

Dados dois conjuntos distintos, verificar elementos que têm em apenas um deles:

In [ ]:
set1=[1,2,3,4]
set2=[2,5,4]
set_distinct=set(set1).symmetric_difference(set(set2))
set_distinct

{1, 3, 5}

Dados dois conjuntos distintos, verificar elementos que têm em apenas no primeiro conjunto:

In [ ]:
set1=[1,2,3,4]
set2=[2,5,4]
only_set1=set(set1)-set(set2)
only_set1

{1, 3}

Dados dois conjuntos distintos, verificar elementos que estão simultâneamente nos dois conjuntos:

In [ ]:
set1=[1,2,3,4]
set2=[2,5,4]
both=set(set1)&set(set2)
both

{2, 4}

# Merge

`pandas.merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=None, indicator=False, validate=None)`

**Parâmetros**

* left: dataframe esquerdo ou série nomeada
DataFrame correto ou série nomeada
Objeto para mesclar.

* how: {'left', 'right', 'outer', 'inner', 'cross'}, padrão 'inner'.Tipo de mesclagem a ser realizada.

    * left: usa apenas as chaves do quadro esquerdo, semelhante a uma junção externa esquerda do SQL; preservar a ordem das chaves.

    * direita: use apenas as chaves do quadro direito, semelhante a uma junção externa direita do SQL; preservar a ordem das chaves.

    * exterior: usa a união de chaves de ambos os quadros, semelhante a uma junção externa completa do SQL; ordenar as chaves lexicograficamente.

    * interno: usa a interseção de chaves de ambos os quadros, semelhante a uma junção interna do SQL; preservar a ordem das teclas esquerdas.

    * cross: cria o produto cartesiano de ambos os quadros, preserva a ordem das teclas esquerdas.


* on: label ou list
Nomes ou índice da coluna para unir. Estes devem ser encontrados em ambos os DataFrames. Se for None o padrão será a interseção das colunas em ambos os DataFrames.

* left_on: label, list, ou array-like
Nomes das colunas ou índice para unir no DataFrame esquerdo. Também pode ser uma matriz ou lista de matrizes do comprimento do DataFrame esquerdo. Essas matrizes são tratadas como se fossem colunas.

* right_on: label, list, ou array-like
Nomes das colunas ou índice para unir no DataFrame direito. Também pode ser uma matriz ou lista de matrizes do comprimento do DataFrame esquerdo. Essas matrizes são tratadas como se fossem colunas.

* left_index: bool. Default: Falso
Use o índice do DataFrame esquerdo como a(s) chave(s) de junção. Se for um MultiIndex, o número de chaves no outro DataFrame (seja o índice ou um número de colunas) deve corresponder ao número de níveis.

* right_index: bool. Default: Falso
Use o índice do DataFrame direito como a(s) chave(s) de junção. Se for um MultiIndex, o número de chaves no outro DataFrame (seja o índice ou um número de colunas) deve corresponde

* sort: bool. Default: False
Classifique as chaves de junção lexicograficamente no DataFrame resultante. Se False, a ordem das chaves de junção depende do tipo de junção (como a palavra-chave).

* suffixes: list-like (lista de sufixos), default is (“_x”, “_y”)
Uma sequência de comprimento 2 em que cada elemento é opcionalmente uma string indicando o sufixo a ser adicionado aos nomes de coluna sobrepostos à esquerda e à direita , respectivamente. Passe um valor None em vez de uma string para indicar que o nome da coluna da esquerda ou da direita deve ser deixado como está, sem sufixo. Pelo menos um dos valores não deve ser Nenhum.

* copy: bool. Default True
Se False, evite copiar se possível.

* indicator: bool ou str. Default Falso
Se True, adiciona uma coluna ao DataFrame de saída chamada “_merge” com informações sobre a origem de cada linha. A coluna pode receber um nome diferente fornecendo um argumento de string. A coluna terá um tipo categórico com o valor de “left_only” para observações cuja chave de mesclagem aparece apenas no DataFrame esquerdo, “right_only” para observações cuja chave de mesclagem aparece apenas no DataFrame direito e “both” se a chave de mesclagem da observação é encontrado em ambos os DataFrames.

* validate: str, opcional.
Se especificado, verifica se a mesclagem é do tipo especificado:

    * “one_to_one” ou “1:1”: verifique se as chaves de mesclagem são únicas nos conjuntos de dados esquerdo e direito.

    * “one_to_many” ou “1:m”: verifique se as chaves de mesclagem são únicas no conjunto de dados esquerdo.

    * “many_to_one” ou “m:1”: verifique se as chaves de mesclagem são únicas no conjunto de dados correto.

    * “many_to_many” ou “m:m”: permitido, mas não resulta em verificações.

In [10]:
df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'car', 'foo'],
                    'value': [1, 2, 3, 5]})
df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'car', 'foo'],
                    'value': [5, 6, 7, 8]})
df1

  lkey  value
0  foo      1
1  bar      2
2  car      3
3  foo      5

In [11]:
df2

  rkey  value
0  foo      5
1  bar      6
2  car      7
3  foo      8

In [12]:
#Associa cada elemento lkey, que possui lkey=rkey,com todos os elementos de rkey
# (foo5,foo8,bar6,car7)()
df1.merge(df2, left_on='lkey', right_on='rkey')

  lkey  value_x rkey  value_y
0  foo        1  foo        5
1  foo        1  foo        8
2  foo        5  foo        5
3  foo        5  foo        8
4  bar        2  bar        6
5  car        3  car        7

![left_join.png]()

In [18]:
df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=('_nome_esquerdo', ': nome da direita'))

  lkey  value_nome_esquerdo rkey  value: nome da direita
0  foo                    1  foo                       5
1  foo                    1  foo                       8
2  foo                    5  foo                       5
3  foo                    5  foo                       8
4  bar                    2  bar                       6
5  car                    3  car                       7

In [19]:
# Mesclar DataFrames df1 e df2, mas gerar uma exceção se os DataFrames tiverem colunas sobrepostas
# ValueError: columns overlap but no suffix specified: Index(['value'], dtype='object')
df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=(False, False))

ValueError: ignored

In [20]:
df1 = pd.DataFrame({'a': ['foo', 'bar'], 'b': [1, 2]})
df2 = pd.DataFrame({'a': ['foo', 'baz'], 'c': [3, 4]})
df1

     a  b
0  foo  1
1  bar  2

In [21]:
df2

     a  c
0  foo  3
1  baz  4

In [22]:
df1.merge(df2, how='inner', on='a')

     a  b  c
0  foo  1  3

# Função Lambda

Funções lambda são funções que são declaradas como variáveis, além disso, são funções que são descritas em apenas uma linha e funcionam como se houvesse a instrução return antes do comando.

In [ ]:
def soma(numero1, numero2):
    return numero1 + numero2

In [ ]:
soma_lambda = lambda numero1, numero2: numero1 + numero2

In [ ]:
print(soma(3,4))

7

In [ ]:
print(soma_lambda(3,4))

7

Assim como uma função comum, é possível ter função lambda sem parâmetro.

In [ ]:
obter_valor = lambda: 3 + 2

In [ ]:
def obter_valor():
    return 3 + 2

In [ ]:
print(obter_valor())

5

As funções lambdas são mais utilizadas em funções que utilizam outras funções como parâmetros.

* Exemplo 1: Suponha que dada uma lista de números, eu quero selecionar os números pares desta lista. Há duas maneiras de fazer isso:

In [ ]:
numeros = [0,2,3,4,5,7]
def is_par(lista):
    pares = []
    for numero in lista:
        if numero % 2 == 0:
            pares.append(numero)

    # Exibe os números
    for par in pares:
        print(par)

is_par([2,5,7,8])

2
8

In [ ]:
numeros = [0,2,3,4,5,7]
pares = filter(lambda valor: valor % 2 == 0, numeros)

for par in pares:
    print(par)

0
2
4

Na segunda maneira de resolver o exemplo foi usada a função `filter`. Esta função recebe dois parâmetros: a lista que vai ser filtrada e a função que realiza o filtro da lista. Nesse caso foi a `função lambda` e a lista `numeros`.

* Exemplo 2: Dada um dataframe com Nome, Idade, Sexo e Profissão, deseja-se criar uma nova coluna denominada "Categoria" em que o que deve ser preenchido satisfaz a seguinte regra:
- Se o sexo for masculino e a idade for menor que 12 anos, coloca-se "menino".
- Se a idade estiver entre 12 e 18 anos, coloca-se "adolescente".
- Se a idade for maior que 18 anos e profissão estiver como nenhum, coloca-se "desempregado"

In [ ]:
import pandas as pd

# Cria um DataFrame de exemplo
data = {'Nome': ['João', 'Maria', 'Pedro', 'Ana'],
        'Idade': [10, 15, 20, 25],
        'Sexo': ['Masculino', 'Feminino', 'Masculino', 'Feminino'],
        'Profissão': ['Estudante', 'Estudante', 'Nenhum', 'Nenhum']}
df = pd.DataFrame(data)

# Função para definir a categoria com base na idade, sexo e profissão
def define_categoria(idade, sexo, profissao):
    if idade < 12 and sexo == 'Masculino':
        return 'Menino'
    elif 12 <= idade <= 18:
        return 'Adolescente'
    elif idade > 18 and profissao == 'Nenhum':
        return 'Desempregado'
    else:
        return ''

# Aplica a função às colunas correspondentes e cria a nova coluna "Categoria"
df['Categoria'] = df.apply(lambda x: define_categoria(x['Idade'], x['Sexo'], x['Profissão']), axis=1)

# Exibe o DataFrame resultante
print(df)

    Nome  Idade       Sexo  Profissão     Categoria
0   João     10  Masculino  Estudante        Menino
1  Maria     15   Feminino  Estudante   Adolescente
2  Pedro     20  Masculino     Nenhum  Desempregado
3    Ana     25   Feminino     Nenhum  Desempregado

* Exemplo 3: Faça um programa que escreva "Minha primeira função", esta escrita deve ser realizada a partir da chamada de uma função que foi declarada como uma expressão lambda.

In [ ]:
first_func=lambda: print("Minha primeira função")
first_func()

Minha primeira função

* Exemplo 4: Faça um programa que solicite o nome do usuário e a idade do usuário, depois disso exiba a mensagem: "{nome} possui {idade} anos.". Esta mensagem deve ser escrita em uma função lambda.

In [ ]:
nome=input("Digite seu nome: ")
idade= input("Idade")

resposta=lambda:print(f'{nome} tem {idade} anos')
resposta()

* Exemplo 5: Faça um programa que solicite cinco números ao usuário, depois disso, exiba apenas os números maiores do que 10. Utilize a função filter para fazer isso.

In [ ]:
n1=int(input("Digite um número "))
n2=int(input("Digite outro número "))
n3=int(input("Digite outro número "))
n4=int(input("Digite outro número "))
n5=int(input("Digite outro número "))
lista=[n1,n2, n3, n4, n5]
lista_maior=filter(lambda num: num>10,lista)
12print("Os números maiores que 10 são:")
for numero in lista_maior:
    print(f'* {numero}')

# Diretórios e arquivos

Para trabalhar com comandos do sistema operacional, a biblioteca `os`pode nos auxiliar a fazer algumas operações dentro do seu computador, por exemplo:
- Criar um diretório
- Renomear um diretório existente.
- Remover um diretório.
- Mostrar o caminho para o seu diretório atual.

Essa biblioteca é muito utilizada para fazer automação de processos no Python.

In [ ]:
import os

 Para obter diversas informações do seu sistema em formato de dicionário usa-se `os.environ`

In [ ]:
os.environ

## Trabalhando com Pastas

## Trabalhando com Arquivos

## Trabalhando com Diretórios

### Identificar o diretório atual

In [ ]:
os.getcwd()

### Mudar o diretório atual

In [ ]:
os.chdir(<novo_caminho>)

OBS: Se você adicionar uma \ na string e não adicionar o "r" , você receberá um erro, porque o símbolo \ será tratado como um caractere especial. SEndo assim, ou coloca-se "r", ou troca-se duplo \ ou até mesmo troca-se \ por /
```
os.chdir(r"C:\Users\estef\Documents)
```
ou

```
os.chdir("C:\\Users\\estef\\Documents)
```

ou


```
os.chdir("C:/Users/estef/Documents)
```

### Listar os elementos de um diretório

`os.listdir(<path>)`

Retorna uma lista com os nomes de todos os arquivos e diretório que podem ser encontrados dentro de um diretório que você especifica quando chama a função.

Se `<path>` estiver vazio, isto é, o comando `listdir` não tiver parâmetro, é mostrado todos os elementos do diretório atual.

In [ ]:
os.listdir()

Se for necessário filtrar apenas os arquivos de uma pasta específica, pode-se usar o comando `filter` junto com o comando `os.path.isfile` da seguinte maneira:

```
list(filter(os.path.isfile, os.listdir(<caminho>)))
```

E para filtrar apenas os diretórios, usa-se:

```
list(filter(os.path.isdir, os.listdir(<caminho>)))
```

O comando fileter basicamente "filtra" os elementos do segundo argumento  baseado no valor booleano retornado quando chamada a função passada como primeiro argumento.



```
filter(<função>, <lista>)
```

## Executar um comando em uma sub-shell

O comando `system()` essa função pega um comando (como uma string) e o executa.

Diferente de `listdir`, a função `system()` não retornará uma lista se você passar o comando `ls`, ela apenas exibirá a lista de arquivos e diretórios no stdout. Por isso, você deve usá-la apenas se deseja visualizar a lista sem trabalhar com ela no seu programa.

In [ ]:
os.system(<comando>)

In [ ]:
os.system("ls")

OBS:

O comando passado como argumento deve ser reconhecido pelo sistema operacional ou pelo ambiente em que você está trabalhando.

No Windows, o valor de retorno é aquele retornado pelo shell do sistema após a execução do comando e, no Unix, o valor de retorno é o status de saída do processo codificado no formato especificado para wait().

In [ ]:
os.system("dir")

## Exemplos

1. Exemplo:

Fazer um código percorrer por todos os arquivos de um diretório específico.

In [ ]:
import os

# Diretório contendo os arquivos
diretorio = '/content/drive/MyDrive/pasta_teste'

# Loop pelos arquivos no diretório
for nome_arquivo in os.listdir(diretorio):
    caminho_arquivo = os.path.join(diretorio, nome_arquivo)

    # Código a ser executado para cada arquivo
    # Abra o arquivo e faça as operações desejadas
    with open(caminho_arquivo, 'r') as arquivo:
        # Seu código aqui
        # Exemplo: Ler o conteúdo do arquivo e imprimir na tela
        conteudo = arquivo.read()
        print(f'Conteúdo do arquivo {nome_arquivo}:')
        print(conteudo)
        print('--------'*5)

# Abrindo arquivos CSV

O comando read_csv() do pandas possui vários parâmetros que permitem ajustar o comportamento da leitura de um arquivo CSV. Aqui estão alguns dos principais parâmetros e suas funções:

* filepath_or_buffer: Especifica o caminho do arquivo CSV a ser lido. Pode ser um nome de arquivo, caminho absoluto ou URL.

* sep: Define o separador de campos no arquivo CSV. O valor padrão é ',' (vírgula), mas pode ser alterado para outros caracteres, como '\t' (tabulação).

* header: Especifica a linha (ou linhas) que contém os nomes das colunas. O valor padrão é 'infer', que tenta inferir os nomes das colunas automaticamente. Pode ser definido como um número inteiro para indicar uma linha específica ou uma lista de inteiros para indicar múltiplas linhas.

* index_col: Define a coluna que será usada como índice das linhas. Pode ser um nome de coluna ou número de coluna.

* usecols: Especifica as colunas do arquivo CSV a serem carregadas. Pode ser uma lista de nomes de coluna ou uma lista de números de coluna.

* dtype: Define o tipo de dados das colunas. Pode ser um dicionário que mapeia nomes de coluna para tipos de dados ou um tipo de dado único para todas as colunas.

* skiprows: Permite pular um número específico de linhas no início do arquivo CSV.

* na_values: Especifica os valores que devem ser considerados como valores ausentes (NaN).

* parse_dates: Define as colunas que devem ser convertidas para o tipo de dados de data.

Esses são apenas alguns dos parâmetros disponíveis no comando read_csv(). Existem outros parâmetros que permitem ajustar ainda mais o processo de leitura de um arquivo CSV no pandas. Para obter uma lista completa de todos os parâmetros disponíveis e suas funções, consulte a documentação oficial do pandas.

## Abrindo grandes arquivos em csv

Primeiramente, determine quanta memória o arquivo inteiro ocupará. Usaremos o parâmetro nrows de read_csv para limitar a quantidade de dados que carregamos para uma pequena amostra.



```
 diamonds = pd.read_csv("data/diamonds.csv", nrows=1000)
```

Com o método .info() é possível ver a quantidade de memória que os dados usam. Se ainda assim é necessário diminuir o tamanho dos dados, use o parâmetro dtype para read_csv para dizer a ele para usar os tipos numéricos corretos (ou menores).



```
>>> diamonds2 = pd.read_csv(
...     "data/diamonds.csv",
...     nrows=1000,
...     dtype={
...         "carat": np.float32,
...         "depth": np.float32,
...         "table": np.float32,
...         "x": np.float32,
...         "y": np.float32,
...         "z": np.float32,
...         "price": np.int16,
...     },
... )
>>> diamonds2.info()
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
carat      1000 non-null float32
cut        1000 non-null object
color      1000 non-null object
clarity    1000 non-null object
depth      1000 non-null float32
table      1000 non-null float32
price      1000 non-null int16
x          1000 non-null float32
y          1000 non-null float32
z          1000 non-null float32
dtypes: float32(6), int16(1), object(3)
memory usage: 49.0+ KB

```

# Dataframes

## Criando um dataframe do zero

In [ ]:

fname = ["Paul", "John", "Richard", "George"]
lname = ["McCartney", "Lennon", "Starkey", "Harrison"]
birth = [1942, 1940, 1940, 1943]
people = {"first": fname, "last": lname, "birth": birth}
beatles = pd.DataFrame(people)
beatles

####  Criando um arquivo csv com um dataframe pandas

In [ ]:
beatles

StringIO é uma classe em Python que permite trabalhar com strings como se fossem arquivos. É útil quando você precisa ler ou gravar dados em uma string em vez de um arquivo físico.

O código abaixo `from io import StringIO` seguido por `fout = StringIO()` permite criar um objeto StringIO vazio chamado fout. O método `beatles.to_csv(fout)` grava os dados do DataFrame beatles em formato CSV dentro de fout. Em seguida, você pode acessar o conteúdo CSV gerado usando `fout.getvalue()`

In [ ]:
from io import StringIO
fout = StringIO()
beatles.to_csv(fout)

In [ ]:
print(fout.getvalue())

Ao chamar `fout.seek(0)`, você está movendo o indicador para a posição de byte zero (o início do arquivo). Isso significa que a próxima operação de leitura ou gravação será realizada a partir do início do arquivo.

In [ ]:
_ = fout.seek(0)
pd.read_csv(fout)

## Percorrendo dados de um dataframe

Sintaxe: `dataframe.iterrows()`

In [ ]:
# Exemplo de DataFrame
df = pd.DataFrame({'a': [1, 2, 3, 4, 5],
                   'b': ['foo', 'bar', 'foo', 'bar', 'foo'],
                   'c': ['x', 'y', 'z', 'x', 'y']})

for key, value in df.iterrows():
    print(f' Para a={value.a} tem-se b={value.b} e c={value.c}')

### Biblioteca itertools

É uma biblioteca padrão do Python que fornece várias funções para trabalhar com iterações e manipulação de sequências

In [ ]:
import itertools as it

Agrupando itens iguais

In [ ]:
# Exemplo de lista
lista = [1, 1, 2, 2, 2, 3, 4, 4, 5]

# Agrupar itens iguais
grupos = it.groupby(lista)

# Mostrar os grupos
for chave, grupo in grupos:
    print(f"Item {chave}: {list(grupo)}")

Todas as maneiras de ocupar três posições dos números 1 e 2:

In [ ]:
list(it.product([1,2],repeat=3))

Dada uma lista, mostra todas as permutações possíveis com os elementos da lista.

In [ ]:
list(it.permutations([1,2,3],2))

Dada uma lista, mostra todas as combinações possíveis com os elementos da lista.

In [ ]:
list(it.combinations([1,2,3],2))

Dada uma lista, mostra todas as combinações, com repetição, possíveis com os elementos da lista.

In [ ]:
list(it.combinations_with_replacement([1,2,3],2))

Conta infinitamente, a partir do número dado x, de y em y, onde y é o segundo número dado,

In [ ]:
#Iniciando do número 12, conta de 11 em 11 infinitamente
#list(it.count(12,11))

In [ ]:
list(it.repeat('Priscila', 3))

Separa todas as string e as junta

In [ ]:
list(it.chain('ABC', 'DEF','eu', '13'))

Associa cada string da primeira lista com um número da segunda lista. As strings associadas ao número zero são descartadas na nova lista.

In [ ]:
list(it.compress('ABCDEF', [0,1,24,0,1,1]))

Dada uma lista A, cria uma sub lista B descartando os primeiros elementos de A que não satisfazem a condição dada.

In [ ]:
list(it.dropwhile(lambda x: x<5, [1,4,6,4,1]))

Dada uma lista L e dois numeros A e B, o comando cria uma sublista de L, iniciando do elemento na posição A e terminando no elemento na posição B.



```
it.islice(L, A, B)
```

In [ ]:
list(it.islice('ABCDEFGHIJ', 2, 8))

Dada uma lista L, forma uma lista de pares dos elementos dessa lista, considerando as ordem, isto é, juntando os números vizinhos.

In [ ]:
list(it.pairwise('ABCDEFG') )

Dada uma função f e uma lista de tuplas (x,y,z,...), retorna uma lista formanda pelas imagens dessas tuplas pela função f.

In [ ]:
def soma(x,y,z):
    return z*(x+y)

list(it.starmap(soma, [(2,5,7), (3,2,2), (10,3,2)]))

Dada as listas L1 e L2, esta função cria pares ordenados onde cada elemento de L1 está associado ao elemento de L2 que ocupa a mesma posição. Se uma das listas é menor que outra, o valor ausente será ocupado pela string colocada em fillvalue,



```
zip_longest(L1,L2,fillvalue='?')
```

In [ ]:
list(it.zip_longest('ABCD', 'xy', fillvalue='?'))

### Biblioteca Functools

Biblioteca que contém funções que atuam ou retornam outras funções.

#### `reduce(função, lista)`

Aplica uma função em todos os elementos da lista.

In [ ]:
import functools as func

In [ ]:
def add_num(a, b):
   return a+b

def prod_num(a, b):
   return a*b

def conc(a,b):
    return str(a)+str(b)

a = [1, 2, 3, 10, 8]
print(func.reduce(add_num, a))
print(func.reduce(prod_num, a))
print(func.reduce(conc, a))

### `enumerate(lista)`

Retorna uma lista enumerada

In [ ]:
fruits = ["grape", "apple", "mango"]
for i, j in enumerate(fruits):
	print(i, j)

Esse comando é equivalente a

In [ ]:
for i in range(len(fruits)):
	print(i, fruits[i])

Se for necessário iniciar a enumeração com um número diferente dezero, é possível adicionar o parâmetro start.



```
fruits = ["grape", "apple", "mango"]
for i, j in enumerate(fruits, start=1):
	print(i, j)
```

## Filtrar dados de um dataframe

In [ ]:

# Exemplo de DataFrame
df = pd.DataFrame({'a': [1, 2, 3, 4, 5],
                   'b': ['foo', 'bar', 'foo', 'bar', 'foo'],
                   'c': ['x', 'y', 'z', 'x', 'y']})

# Lista de valores desejados para a coluna 'a'
valores_desejados = [2, 4, 6]

# Filtrar o DataFrame com base na lista de valores
resultado = df[df['a'].isin(valores_desejados)]

print(resultado)

### Filtrando dados usando itertools

Dada uma lista, retorna uma lista excluindo os dados que não satisfazem determinada condição

In [ ]:
list(it.filterfalse(lambda x: (3*x+1)%2, range(10)))

## Selecionando colunas

### Selecionando colunas por tipo de dados

In [ ]:
df.select_dtypes(include=["int","number","object"]).head()

In [ ]:
df.select_dtypes(exclude="object").head()

### Selecionando colunas pelo nome

O método `.filter` seleciona colunas inspecionando apenas os nomes das colunas e não os valores dos dados. Ele possui três parâmetros: items, like e regex, dos quais apenas um pode ser usado por vez.

* O parâmetro like pega uma string e tenta localizar todos os nomes de colunas que contêm essa string exata em algum lugar do nome.

* Para obter mais flexibilidade, você pode usar o parâmetro regex em vez de selecionar nomes de colunas por meio de uma expressão regular. Essa expressão regular específica,` r'\d'`, representa todos os dígitos de zero a nove e corresponde a qualquer string com pelo menos um único dígito.

In [ ]:
df.filter(like='apf').head()

In [ ]:
df.filter(items=["site_apf_id", "created_at"])

In [ ]:
 #procura todas as colunas que tem um dígito no nome
df.filter(regex=r"\d")

In [ ]:
#seleciona as colunas que posuem site ou created no nome
df.filter(regex='site|created_at')

### Reordenando a ordem das colunas

In [ ]:
df.head()

Observe que as coluna do dataframe anterior aparecem na seguinte ordem: Campaingn Name, App ID, Day, Impressions, Conversions.

Vamos reagrupá-las por ordem alfabetica.

In [ ]:
list(df.columns)

In [ ]:
lista_ordenada=sorted(list(df.columns))
lista_ordenada

In [ ]:
df[lista_ordenada]

## Agrupando dados de um dataframe

### Groupby

Sintaxe:

```
DataFrame.groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, observed=False, dropna=True)
```

Agrupando uma coluna e somando as demais

In [ ]:
df.groupby(by='App ID').sum()

Agrupando por App ID, somando a coluna Impressions e calculando a média da coluna Conversions

In [ ]:
df.groupby('App ID').agg({'Impressions' : 'sum', 'Conversions' : 'mean'})

Dados da documentação

In [ ]:
speeds = pd.DataFrame(
    [
        ("bird", "Falconiformes", 389.0),
        ("bird", "Psittaciformes", 24.0),
        ("mammal", "Carnivora", 80.2),
        ("mammal", "Primates", np.nan),
        ("mammal", "Carnivora", 58),
    ],
    index=["falcon", "parrot", "lion", "monkey", "leopard"],
    columns=("class", "order", "max_speed"),
)
speeds

In [ ]:
speeds

In [ ]:
grouped_class = speeds.groupby("class")

grouped_order = speeds.groupby("order")


grouped_order_column = speeds.groupby("order", axis="columns")

grouped_class_order = speeds.groupby(["class", "order"])

In [ ]:
grouped_class.sum()

In [ ]:
grouped_order.sum()

In [ ]:
grouped_class_order.sum()

In [ ]:
grouped_order_column.sum() #Não será possível agrupar as colunas e somá-las

In [ ]:
grouped_class.first() #primeira max_speed de cada categoria

In [ ]:
grouped_class.last() #última max_speed de cada categoria

Agrupar por classificação

In [ ]:
df2 = pd.DataFrame({"X": ["B", "B", "A", "A"], "Y": [1, 2, 3, 4]})
df2

In [ ]:
df2.groupby(["X"]).sum()

In [ ]:
df2.groupby(["X"], sort=False).sum() #Agrupar pela coluna X e soma as demais, de maneira não ordenada

Obter uma subtabela de uma tabela

In [ ]:
df3 = pd.DataFrame({"X": ["A", "B", "A", "B"], "Y": [1, 4, 3, 2]})

In [ ]:
df3

In [ ]:
df3.groupby(["X"]).get_group("A")

Agrupar considerando NaN no agrupamento

In [ ]:
df_list = [[1, 2, 3], [1, None, 4], [2, 1, 3], [1, 2, 2]]

df_dropna = pd.DataFrame(df_list, columns=["a", "b", "c"])

df_dropna

In [ ]:
df_dropna.groupby(by=["b"], dropna=True).sum()

In [ ]:
df_dropna.groupby(by=["b"], dropna=False).sum()

### Atributos do Group by

* gb.agg       
* gb.boxplot    
* gb.cummin     
* gb.describe   
* gb.filter     
* gb.get_group  
* gb.height     
* gb.last       
* gb.median     
* gb.ngroups    
* gb.plot       
* gb.rank       
* gb.std        
* gb.transform
* gb.aggregate  
* gb.count      
* gb.cumprod    
* gb.dtype      
* gb.first      
* gb.groups     
* gb.hist       
* gb.max        
* gb.min        
* gb.nth        
* gb.prod       
* gb.resample   
* gb.sum        
* gb.var
* gb.apply      
* gb.cummax     
* gb.cumsum     
* gb.fillna     
* gb.gender     
* gb.head       
* gb.indices    
* gb.mean       
* gb.name       
* gb.ohlc       
* gb.quantile   
* gb.size       
* gb.tail       
* gb.weight

Exemplos:

In [ ]:
df_dropna.groupby(by=["b"], dropna=False).size()

### Iterando pelos grupos

In [ ]:
df = pd.DataFrame(
    {
        "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
        "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
        "C": np.random.randn(8),
        "D": np.random.randn(8),
    }
)
df

In [ ]:
grouped = df.groupby('A')

print('---'*15 + 'name'+ '---'*15)
for name, group in grouped:
    print(name)


print('---'*15 + 'group'+ '---'*15)
for name, group in grouped:
    print(group)

In [ ]:
for name, group in df.groupby(['A', 'B']):
    print(name)

In [ ]:
for name, group in df.groupby(['A', 'B']):
    print(group)

### Selecionando um subgrupo

In [ ]:
grouped.get_group("bar")

In [ ]:
df

In [ ]:
grouped = df.groupby('A')

In [ ]:
grouped.get_group("bar") # observe que que grouped está agrupado pela coluna A e por isso pode-se pegar o subgrupo "bar"

### Métodos de agregação

* any()

    Calcule se algum dos valores nos grupos é verdadeiro

* all()

Calcule se todos os valores nos grupos são verdadeiros

* count()

Calcule o número de valores não NA nos grupos

* cov()*

Calcular a covariância dos grupos

* first()

Calcular o primeiro valor de ocorrência em cada grupo

* idxmax()*

Calcule o índice do valor máximo em cada grupo

* idxmin()*

Calcule o índice do valor mínimo em cada grupo

* last()

Calcular o último valor ocorrido em cada grupo

* max()

Calcule o valor máximo em cada grupo

* mean()

Calcule a média de cada grupo

* median()

Calcule a mediana de cada grupo

* min()

Calcule o valor mínimo em cada grupo

* nunique()

Calcular o número de valores únicos em cada grupo

* prod()

Calcule o produto dos valores em cada grupo

* quantile()

Calcular um determinado quantil dos valores em cada grupo

* sem()

Calcule o erro padrão da média dos valores em cada grupo

* size()

Calcular o número de valores em cada grupo

* skew()*

Calcule a inclinação dos valores em cada grupo

* std()

Calcule o desvio padrão dos valores em cada grupo

* sum()

Calcular a soma dos valores em cada grupo

* var()

Calcule a variância dos valores em cada grupo

In [ ]:
ll = [['foo', 1], ['foo', 2], ['foo', 2], ['bar', 1], ['bar', 1]]

df4 = pd.DataFrame(ll, columns=["A", "B"])

df4

In [ ]:
df4.groupby("A")["B"].nunique()

### Aplicando várias funções de agregação ao mesmo tempo

In [ ]:
grouped = df.groupby("A")

grouped["C"].agg(["sum", "mean", "std"])

É possível renomear as colunas após aplicar as funções de agregação da seguinte maneira:

In [ ]:
(
    grouped["C"]
    .agg(["sum", "mean", "std"])
    .rename(columns={"sum": "foo", "mean": "bar", "std": "baz"})
)

Aplicando funções diferentes para colunas diferentes

In [ ]:
grouped.agg({"C": "sum", "D": lambda x: np.std(x, ddof=1)})

### Agrupando e fazendo a contagem distinta dos elementos de cada coluna para o agrupamento



```
series.nunique()
```


Mostra o número de valores únicos em uma série ou em um DataFrame.

In [ ]:
# Exemplo de uma série
s = pd.Series([1, 2, 3, 4, 5, 2, 4, 6, 4])

# Calcular o número de valores únicos na série
num_valores_unicos = s.nunique()

print(num_valores_unicos)

Ex: Contagem de quantos amigos distintos cada pessoa possui.

In [ ]:
# Exemplo de DataFrame
df = pd.DataFrame({'nome': ['João', 'Maria', 'João', 'Pedro', 'Maria'],
                   'amigo': ['Ana', 'João', 'Pedro', 'Ana', 'Carlos']})

# Agrupar por "nome" e contar a quantidade distinta de "amigo"
resultado = df.groupby('nome')['amigo'].nunique().reset_index()

print(resultado)

## Excluindo itens repetidos de uma lista

O `set()` é uma estrutura de dados que armazena apenas elementos únicos. Por exemplo:

In [ ]:
lista = [1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 3]

lista_unica = list(set(lista))

print(lista_unica)

In [ ]:
import io
dataset = pd.read_csv(io.BytesIO(uploaded['teste2.csv']))

In [ ]:
from google.colab import files
uploaded=files.upload()

In [ ]:
import pandas as pd

# Exemplo de DataFrame
df = pd.DataFrame({'nome': ['João', 'Maria', 'João', 'Pedro', 'Maria'],
                   'amigo': ['Ana', 'João', 'Pedro', 'Ana', 'Carlos']})

# Agrupar por "nome" e contar a quantidade distinta de "amigo"
resultado = df.groupby('nome')['amigo'].nunique().reset_index()

# Renomear a coluna resultante
resultado.rename(columns={'amigo': 'quantidade_amigos_distintos'}, inplace=True)

print(resultado)

## Verificar dados repetidos de um dataset usando duplicated()

O método duplicated() em pandas é usado para identificar valores duplicados em um DataFrame ou em uma série. Aqui estão os principais parâmetros do método duplicated():

* subset: Define as colunas a serem consideradas ao identificar valores duplicados. Pode ser uma lista de colunas ou uma única coluna. O valor padrão é None, o que significa que todas as colunas são consideradas.
* keep: Controla qual ocorrência de valores duplicados será considerada como não duplicada. Alguns valores possíveis são:
    * 'first': Marca todas as ocorrências duplicadas, exceto a primeira, como duplicadas.
    * 'last': Marca todas as ocorrências duplicadas, exceto a última, como duplicadas.
* False: Marca todas as ocorrências duplicadas como duplicadas.
* inplace: Especifica se a operação deve ser aplicada diretamente ao DataFrame ou à série, ou se deve ser retornada uma cópia modificada. O valor padrão é False, o que significa que uma cópia modificada é retornada. Se definido como True, a operação é aplicada diretamente e nenhuma cópia é retornada.

In [ ]:
import pandas as pd
df = pd.DataFrame({'nome': ['João', 'Maria', 'João', 'Pedro', 'Maria','Maria'],
                   'amigo': ['Ana', 'Carlos', 'Pedro', 'João', 'Carlos','Carlos']})
df

In [ ]:
df.duplicated(subset=['nome'])

In [ ]:
df.duplicated()

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df

## Excluindos linhas e colunas com dados nulos usando o comando Dropna()

O método dropna() em pandas é usado para remover linhas ou colunas contendo valores ausentes (NaN) de um DataFrame. Aqui estão os principais parâmetros do método dropna():

* axis: Especifica se as linhas ou colunas devem ser removidas. O valor padrão é 0 (linhas). Use axis=1 para remover colunas.
* how: Define como deve ser tratada a remoção. Os valores possíveis são:
    * 'any': Remove a linha ou coluna se houver pelo menos um valor NaN.
    * 'all': Remove a linha ou coluna somente se todos os valores forem NaN.
thresh: Especifica o número mínimo de valores não NaN necessários para manter a linha ou coluna. Se o número de valores não NaN for menor do que thresh, a linha ou coluna é removida.
* subset: Define as colunas a serem consideradas ao remover linhas contendo valores NaN. Pode ser uma lista de colunas ou uma única coluna.
* inplace: Especifica se a operação deve ser aplicada diretamente ao DataFrame ou se deve ser retornada uma cópia modificada. O valor padrão é False, o que significa que uma cópia modificada é retornada. Se definido como True, a operação é aplicada diretamente ao DataFrame e nenhuma cópia é retornada.
ignore_index: Especifica se o índice do DataFrame resultante deve ser redefinido. O valor padrão é False. Se definido como True, o índice será redefinido começando de zero.

## Substituir dados ausentes usando .fillna()

O método fillna() em pandas é usado para preencher valores ausentes (NaN) em um DataFrame ou em uma série. Aqui estão os principais parâmetros do método fillna():

* value: O valor a ser usado para preencher os valores ausentes. Pode ser um valor escalar, como um número ou uma string, ou um dicionário que mapeia colunas para valores específicos.
* method: Define um método de preenchimento. Alguns valores possíveis são:
    * 'pad' ou 'ffill': Preenche os valores ausentes com o valor anterior válido (forward fill), pode ser usado, por exemplo, para séries temporais.
    * 'backfill' ou 'bfill': Preenche os valores ausentes com o próximo valor válido (backward fill).
* axis: Especifica se o preenchimento deve ser feito ao longo das linhas (axis=0) ou colunas (axis=1).
* inplace: Especifica se a operação deve ser aplicada diretamente ao DataFrame ou à série, ou se deve ser retornada uma cópia modificada. O valor padrão é False, o que significa que uma cópia modificada é retornada. Se definido como True, a operação é aplicada diretamente e nenhuma cópia é retornada.
* limit: Especifica o número máximo de valores a serem preenchidos consecutivamente. É usado em conjunto com method='ffill' ou method='bfill' para limitar o preenchimento consecutivo.
* downcast: Controla a conversão de tipos de dados após o preenchimento. Pode ser definido como 'infer' para inferir automaticamente o tipo de dados ou especificar um tipo de dados válido.

Pode-se usar um dicionário para que seja usando uma regra diferente de trocal valores NaN para cada coluna. Por exemplo:



```
df.fillna(value={'Coluna1': 'Não tem nada', 'Coluna2': 0, 'Coluna3': df['coluna3].mean()})
```

## Tranformar um dados em outro usando map()

In [ ]:
df = pd.DataFrame({'nome': ['João', 'Maria', 'João', 'Pedro', 'Maria','Maria', 'Luiza'],
                   'amigo': ['Ana', 'Carlos', 'Pedro', 'João', 'Carlos','Carlos',np.NaN]})
df

Suponha que eu quero criar uma coluna que chama 'iniciais' e Considera as duas primeiras letras dos registros da coluna 'amigo'.

Nesse caso vamos usar `df['amigo']`

`df['amigo'].map(lambda x: função)`

O `x` após o lambda representa os elementos de `df['amigo']`

Queremos fazer o seguinte com os elementos da coluna "amigo":

In [ ]:
str('Ana')[0:2]

In [ ]:
str('df['amigo']')[0:2]

Como `x` representa os elementos da coluna amigo, então:

`str(x)[0:2]`

Nesse caso, função = `str(x)[0:2]`, e fica:

In [ ]:
df['amigo'].map(lambda x: str(x)[0:2])

Portanto,

In [ ]:
df['iniciais']=df['amigo'].map(lambda x: str(x)[0:2])
df

Se tivesse algum registro `NaN` suponha que eu gostaria que retornasse `NaN`, então desejamos que ocorra a seguinte condição:


```
if x is not np.NaN:
    str(x)[0:2]
else:
    np.NaN
```

Podemos reescrever essa condição da forma reduzida da seguinte forma:


```
str(x)[0:2] if x is not np.NaN else np.NaN
```

E passar essa condição para a função `map`

In [ ]:
df['iniciais']=df['amigo'].map(lambda x: str(x)[0:2] if x is not np.NaN else np.NaN)
df

## Tranformar um dados em outro usando replace()

O método replace() em Python é usado para substituir valores em uma string por outros valores. Aqui estão os principais parâmetros do método replace():

* old: O valor ou padrão a ser substituído na string.
* new: O valor que substituirá o valor ou padrão antigo na string.
* count (opcional): O número máximo de ocorrências a serem substituídas. Se não for especificado, todas as ocorrências serão substituídas.
* flags (opcional): Uma ou várias flags para controlar o comportamento da substituição. As flags podem ser usadas para diferenciar maiúsculas de minúsculas, habilitar a correspondência multi-linha, entre outras.

In [ ]:
string = "Hello, World!"
new_string = string.replace("Hello", "Hi")

print(new_string)

Para trocar vários dados de maneiras diferentes simultaneamente é possível representar as alretações como uma lista da seguinte maneira:

In [ ]:
df

In [ ]:
df.replace(['João', 'Pedro', 'Luiza'],['Joãozinho','Pedrão', 'Lulu'])

## Discretização de dados - Como definir intervalos de valores para colocar um grupo usando cut()

In [ ]:
dfcut = pd.DataFrame({'nome': ['João', 'Maria', 'José', 'Pedro', 'Marta','Marcia', 'Luiza'],
                   'idade': [12, 4, 2, 1, 15, 16,11]})

In [ ]:
intervalos=[0,5,10,15,20]

In [ ]:
dfcut['faixa etaria']=pd.cut(dfcut['idade'].to_numpy(), bins=intervalos)
dfcut

In [ ]:
dfcut['faixa etaria']=pd.cut(dfcut['idade'].to_numpy(), bins=intervalos, labels=['<5','entre 5 e 10', 'entre 10 e 15', 'entre 15 e 20'])
dfcut

In [ ]:
dfcut['faixa etaria'].value_counts()

## Mostrar registros repetidos num dataframe

In [ ]:
data = {'Coluna1': [1, 1, 2, 3, 3, 4, 4],
        'Coluna2': ['a', 'b', 'b', 'c', 'c', 'd', 'd']}
df = pd.DataFrame(data)
df

In [ ]:
duplicatas = df.duplicated(keep=False)

In [ ]:
registros_duplicados = df.loc[duplicatas]

In [ ]:
registros_duplicados

## Excluir registros repetidos num dataframe

In [ ]:
data = {'Coluna1': [1, 1, 2, 3, 3, 4, 4],
        'Coluna2': ['a', 'b', 'b', 'c', 'c', 'd', 'd']}
df = pd.DataFrame(data)
df

In [ ]:
# Remover registros duplicados
df_sem_duplicatas = df.drop_duplicates()

df_sem_duplicatas

## Métodos para limpeza dos dados

In [ ]:
df.select_dtypes(include=["float","int"])

In [ ]:
somar_colunas=df["Impressions"].sum()

In [ ]:
max_coluna=df["Impressions"].max()

In [ ]:
#substitui todos os valores NaN por "vazio"
df["Impressions"].fillna("vazio")

In [ ]:
#substitui os valores NaN pelo valor da mesma coluna na linha acima
df.fillna(method="ffill")

In [ ]:
#substitui os valores NaN pelo valor do dict valores, onde a coluna Conversions é colocado 89 e a coluna Impressions é usado "Não sei"
valores = {"Conversions": 89, "Impressions": "Não sei"}
df.fillna(value=valores)

In [ ]:
#substitui os valores NaN pelo valor do dict valores,
#onde a coluna Conversions é colocado 89 e a coluna Impressions é usado "Não sei" em apenas um elemento
valores = {"Conversions": 89, "Impressions": "Não sei"}
df.fillna(value=valores, limit=1)

In [ ]:
df_teste = pd.DataFrame({'nome': ['João', 'Maria', 'João', 'Pedro', 'Maria'],
                   'c1': [1,5,6,3,4],
                    'c2': [12,54,32,42,47]})
df_teste

In [ ]:
#soma o total de linhas
df_teste.count()

In [ ]:
#soma o total de colunas
df_teste.count(axis='columns')

In [ ]:
df_teste.sum()

In [ ]:
#Alterar o parâmetro do eixo para 'colunas' altera a direção da operação para que possamos obter a soma
#de itens não ausentes em cada linha
df_teste[['c1','c2']].sum(axis='columns')

## Consultas em um dataset

### Query

A função queru é utilizada quando precisamos de uma expressão para encontrar o que buscamos, muito semelhante as queries de SQL.

Sintaxe: `dataframe.query(condicao)`

In [ ]:
df.query(('Impressions<500') and ('Conversions!=1'))

In [ ]:
df['Day']=pd.to_datetime(df['Day']) #Convertendo a coluna Day para date
dia=df['Day'].dt.month
df.query('dia==2')

## Excluir acentos dos registros de um dataframe

Para remover acentos de uma coluna em um DataFrame pandas, você pode utilizar a biblioteca unidecode. Esta biblioteca possui uma função `unidecode()` que permite remover acentos e converter caracteres acentuados para suas versões sem acento.

In [ ]:
data = {'Coluna1': ['maçã', 'árvore', 'pêssego']}
df = pd.DataFrame(data)
df

In [ ]:
# Remover acentos da coluna 'Coluna1'
df['Coluna1'] = df['Coluna1'].apply(lambda x: unidecode(x))
df

In [ ]:
unidecode('maçã')

## Diferença entre o método apply(), map() e applymap()

In [ ]:
df = pd.DataFrame({
    'Col 1': [30,40,50,60],
    'Col 2': [23,35,65,45],
    'Col 3': [85,87,90,89],

},index=["A","B","C","D"])
df

applymap: Ele aplica a função a cada elemento do DataFrame.

```dataframe.applymap(funcão,na_action=None)```

In [ ]:
scaled_df=df.applymap(lambda a: a*10)
scaled_df

É possível obter o mesmo resultado usando o loop `for`

In [ ]:
altered_df=df.applymap(lambda a: str(a)+".00")
altered_df

map: Só podemos usar o método map() com a coluna particular de um DataFrame.

``` df['coluna']=df['coluna'].map(lambda x: f(x) ```
Nesse caso o x representa os elementos da coluna e f(x) será a função que será aplicada nesses elementos.

In [ ]:
df = pd.DataFrame({
    'Col 1': [30,40,50,60],
    'Col 2': [23,35,65,45],
    'Col 3': [85,87,90,89],

},index=["A","B","C","D"])
df

In [ ]:
df["Col 1"]=df["Col 1"].map(lambda x: x/100)
df

O método ```apply``` pode alterar um dataframe inteiro ou apenas uma coluna do dataframe.

````df.apply(lambda x: f(x)```

In [ ]:
df = pd.DataFrame({
    'Col 1': [30,40,50,60],
    'Col 2': [23,35,65,45],
    'Col 3': [85,87,90,89],

},index=["A","B","C","D"])
df

In [ ]:
altered_df=df.apply(lambda x: x/100)
altered_df

In [ ]:
df["Col 1"]=df["Col 1"].apply(lambda x: x/100)
df

Outro exemplo:

In [ ]:
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'), index=['Utah', 'Ohio', 'Texas', 'Oregon'])
frame

# Dicionários

## Criando dicionários

In [ ]:
# Método usual
dicio = {'primeiro': 1, 'segundo':  2, 'terceiro': 3}

In [ ]:
# Não é usual mas é simples
dicio2 = dict(primeiro=1, segundo=2, terceiro=3)

In [ ]:
# Método diferente mas não é usual
dicio_3 = dict(zip(['primeiro', 'segundo', 'terceiro'], [1, 2, 3]))

In [ ]:
{x: x**2 for x in (2, 4, 6)}

In [ ]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

In [ ]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

## Obtendo chaves e valores

In [ ]:
dicio.keys()

In [ ]:
list(dicio.keys())

In [ ]:
dicio.values()


## Ordenando um dicionário de acordo com os values

In [ ]:
# Exemplo de dicionário
dicionario = {'A': 5, 'B': 2, 'C': 8, 'D': 1}

# Ordenar o dicionário pelos valores
dicionario_ordenado = dict(sorted(dicionario.items(), key=lambda item: item[1]))

print(dicionario_ordenado)

## Acessando dados de um dicionário

In [ ]:
dicio['primeiro']

é equivalente a

In [ ]:
dicio.get('primeiro')

## Percorrendo elementos de um dicionário

In [ ]:
for chave, valor in dicio.items():
    print(f'Chave = {chave} e Valor = {valor}')

In [ ]:
for chave in dicio.keys():
  print(f'Chave = {chave} e Valor = {dicio[chave]}')

In [ ]:
for valor in dicio.values():
    print(f'Valor: {valor}')

## Alterando o dicionário

### Atualizando

In [ ]:
# substituindo o primeiro elemento
dicio.update({'primeiro': 'um'})
dicio

In [ ]:
dicio.update(segundo='dois')
dicio

### Adicionando

In [ ]:
dicio['quarto']=4
dicio

### Copiando dicionário

In [ ]:
dicio_copia=dicio.copy()

### Excluindo

#### Excluindo um item pela chave

In [ ]:

dicio.pop('primeiro')

In [ ]:
dicio

#### Excluindo o último item

In [ ]:
dicio.popitem()

In [ ]:
dicio

#### Excluindo todos os itens de um dicionário

In [ ]:
dicio.clear()

In [ ]:
dicio

#### Retornar o valor da chave ou criá-la caso não exista

In [ ]:
dicio = {'coleta': 'scrapy', 'dados': 200}

In [ ]:
set_dados = dicio.setdefault('dados')

In [ ]:
# Como 'dados' já existia em dicio, então setdefault retorna o seu valor.
print(set_dados)

In [ ]:
print(dicio)

In [ ]:
# como 'data' não está em dicio, então ele criará uma chave 'data' com valor vazio
set_data = dicio.setdefault('data')

In [ ]:
#Retorna o valor da chave criada
print(set_data)

In [ ]:
# Como não existe a chave 'teste', ele a criará com o valor 1.
set_teste = dicio.setdefault('teste', 1)

In [ ]:
#retorna o valor da chave criada
print(set_teste)

In [ ]:
dicio

## Criando Dicionários a partir de lista de valores

* Com `dict.fromkeys()` é possível criar um dicionário a partir de uma lista de chaves e um valor, que será usado em todas as chaves.

In [ ]:
chaves = ['chave1', 'chave2', 'chave3']
valor = 0

dicio = dict.fromkeys(chaves , valor)
dicio

In [ ]:
#Observe que o valor sempre será o mesmo para todas as chaves, mesmo que seja uma lista
chaves2 = ['chave1', 'chave2', 'chave3']
valor2 = [1,2,3]

dicio2 = dict.fromkeys(chaves2 , valor2)
dicio2

## args e kwargs

* `args` é uma convenção para tratar argumentos posicionais em uma função. Ele permite que uma função receba um número variável de argumentos posicionais, ou seja, argumentos que são passados sem especificar seu nome. Dentro da função, args é uma tupla que contém todos os argumentos posicionais fornecidos. É comum usar o nome args, mas o nome em si não é obrigatório - você pode usar qualquer outro nome, desde que seja precedido por um único asterisco *.

O fato de ter * em frente ao argumento ao definir uma função, significa que pode-se definir quantos argumentos for necessário, e esses argumentos serão uma tupla.

In [ ]:
def funcao(args):
    print(args)

In [ ]:
funcao('oi')

In [ ]:
funcao('oi','ana')

In [ ]:
def funcao2(*args):
    print(args)

In [ ]:
funcao2('oi')

In [ ]:
funcao2('oi','ana')

In [ ]:
funcao2(1,5,87,'sns')

In [ ]:
funcao2(*regulagem) #mostra as keys

In [ ]:
def funcao3(nome,*args):
    print(f'{nome} os argumentos são {args}')

In [ ]:
funcao3('ana',1.5,46)

In [ ]:
funcao3('pedro')

`kwards`  é uma convenção para tratar argumentos nomeados em uma função. Ele permite que uma função receba um número variável de argumentos nomeados, ou seja, argumentos que são passados especificando seu nome.
Dentro da função, kwargs é um dicionário que contém todos os argumentos nomeados fornecidos.

Diferenças entre args e kwards:


1.   Em frente a um argumento args é necessário um único asterisco *, em frente ao kwards é necessário dois asteriscos **.
2.   Dentro da função, args é uma tupla, isto é, a posição dos argumentos é importantes. Em kwards, dentro da função, kwards é um dict.
3. Os argumentos de uma função definida de args, são argumentos de posição. Os argumentos kwards precisam dos nomes.
4. Args usa-se quando queremos tratar os argumentos de maneira padronizada, por exemplo, usando um loop de repetição. Kwards pode-se criar condições para cada parâmetro de maneira diferente.

In [ ]:
def funcao4(nome,**args):
    print(f'{nome} os argumentos são {args}')

In [ ]:
#Observe que o erro ocorre devido ao argumento 3 não possuir um nome
funcao4('ana',3)

In [ ]:
funcao4('ana',numero1=3)

In [ ]:
def funcao5(**argumentos):
    print(argumentos)

In [ ]:
funcao5(gato=5,cao=89,bibila=8)

In [ ]:
def funcao6(**dados):
    if 'idade' in dados:
        print(dados.get('idade'))
    else:
        print(dados)

In [ ]:
funcao6(gato=5,cao=89,bibila=8)

In [ ]:
funcao6(gato=5, cao=89, ie=35)

In [ ]:
funcao6(nome='bajsl', idade=84)

## Dicionário aninhados

Dicionários aninhados são dicionários dentro de dicionários.

In [ ]:
nested_dict = { 'dict1': {'key_A': 'value_A'},
                'dict2': {'key_B': 'value_B'}}

In [ ]:
Dict = {1: 'Geeks', 2: 'For', 3: {'A' : 'Welcome', 'B' : 'To', 'C' : 'Geeks'}}

In [ ]:
nested_dict['dict1']

In [ ]:
Dict[2]

In [ ]:
Dict[3]

In [ ]:
Dict[3]['A']

In [ ]:
dict3={1:{'a': 'um', 'b': 'dois', 'c': 'tres'},2:{'gato' : 12, 'rato': {'ave': 8, 'reptil':1}}}

In [ ]:
#Para acessar o 1 do reptil
print(dict3[2])
print(dict3[2]['rato'])
print(dict3[2]['rato']['reptil'])

# Data e Hora

## Converter uma coluna de string para datetime

In [ ]:
coluna=pd.to_datetime(coluna)

# Extrair mês de data

In [ ]:
from datetime import datetime

# Supondo que você tenha uma variável 'data' contendo a data desejada
data = '2023-06-14'

# Converter a string para um objeto datetime
data_objeto = datetime.strptime(data, '%Y-%m-%d')

# Extrair o mês do objeto datetime
mes = data_objeto.month

print(mes)

# Timeit

## Calcular tempo de processamento de uma linha de comando usando timeit

In [ ]:
def f(x):
    return x**2
def g(x):
    return x**4
def h(x):
    return x**8

import timeit
print(timeit.timeit('[func(42) for func in (f,g,h)]', globals=globals()))
print(timeit.timeit('f(42)', globals=globals())) # Tempo para rodar f(42)
print(timeit.timeit('f(3)', globals=globals())) # Tempo para rodar f(3)
print(timeit.timeit('g(42)', globals=globals())) # Tempo para rodar g(42)
print(timeit.timeit('g(3)', globals=globals())) # Tempo para rodar g(3))

## Calcular tempo de processamento de um algoritmo usando time

In [ ]:
start_time = time.time()
treino.groupby('App ID').agg({'Impressions' : 'sum', 'Conversions' : 'sum'})
end_time = time.time()
execution_time = end_time - start_time
print(execution_time)